<div class="beerCard">
    <div class="beerCardImage">
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    <div class="beerCardInfo">
        <h1>{{name}}</h1>
        <p>{{tagline}}</p>
        <p>{{description}}</p>
    </div>
</div> 